<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- 强制  高速模式 渲染网页    -->
<meta NAME=”renderer” content=”webkit”>
<!-- 强制  高速模式 渲染网页    -->
<link href="../../../../static/favicon.ico" rel="shortcut icon" />
<!--添加  jq  支持加载-->
<script	src="../../../easy-ui/jquery.min.js"></script>
<!--添加  jq  支持加载-->
<!--添加 layui  支持加载-->
<link rel="stylesheet"	href="../../../layui-v2.2.5/layui/css/layui.css">
<script	src="../../../layui-v2.2.5/layui/layui.js"></script>
<script	src="../../../js/layui-xtree.js"></script>
<!--添加 layui  支持加载-->

<!-- 加入移动布局 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
<!-- 加入移动布局 -->

<!--添加  vue.js 支持加载-->
<script src="../../../vue/vue.min.js"></script>
<!--添加  vue.js 支持加载-->

<script>
$(function(){
	
});

var save_url = '[[${save_url}]]';
var roleId ='[[${role.id}]]';
function save(){
	var index = layer.load(1, {
		  shade: [0.1,'#fff'] //0.1透明度的白色背景
	});
	
	var checkdMenuIds = "";
	var oCks = xtree.GetChecked(); //获取全部选中的末级节点checkbox对象
	for(var i = 0; i < oCks.length; i++) {
		console.log(oCks[i].value);
		checkdMenuIds += oCks[i].value +",";
	}
	if(checkdMenuIds !="")  checkdMenuIds = checkdMenuIds.substring(0,checkdMenuIds.length-1);
	
	
	$.post(save_url,{
		roleName:app.roleName
		,roleRemark:app.roleRemark
		,menuIds:checkdMenuIds
		},function(result){
			if(result.success){
				//调用 父窗口的  关闭所有窗口 并且刷新 页面
				window.parent.closeDlg(result.msg);
			}else{
				layer.closeAll();//关闭loading
				layer.msg(result.msg);
			}
	},'json');	
}
</script>
<style>
html, body {
}
.layui-form-item {
    margin-bottom: 3px;
}
</style>
</head>
<body id="app">
	
<div style="padding: 10px;">
	<form class="layui-form layui-form-pane">
		  
		  <div class="layui-form-item">
		    <label class="layui-form-label">角色名称</label>
		    <div class="layui-input-block">
			      <input type="text" id="roleName" autocomplete="off" th:value="${role.roleName}" v-model="roleName" placeholder="请输入  角色名称" class="layui-input">
		    </div>
		  </div>
		  
		  <div class="layui-form-item">
		    <label class="layui-form-label">角色描述</label>
		    <div class="layui-input-block">
		          <textarea id="roleRemark" autocomplete="off" th:text="${role.roleRemark}" v-model="roleRemark" placeholder="请输入  角色描述" class="layui-textarea"></textarea>
		    </div>
		  </div>
		  
		  <div class="layui-form-item">
		      <label class="layui-form-label">功能菜单</label>
		      <div class="layui-input-block">
		         <ul id="demo"></ul>
		      </div> 
		  </div>
		  
		  
	  </form>
		<div class="site-demo-button" style="margin-top: 20px;">
		  <button id="save" onclick="save()" class="layui-btn site-demo-layedit" data-type="content" th:text="${btn_text}"></button>
		</div>
</div>


<script type="text/javascript"  th:inline="none">
layui.use([ 'laydate', 'laypage', 'layer', 'table', 'carousel',
		'upload', 'element' ], function() {
	var laydate = layui.laydate //日期
	, laypage = layui.laypage //分页
	layer = layui.layer //弹层
	, table = layui.table //表格
	, carousel = layui.carousel //轮播
	, upload = layui.upload //上传
	, element = layui.element; //元素操作
});
var xtree ;
	layui.use('form', function() {
		var form = layui.form;
		//创建tree
		xtree = new layuiXtree({
			elem: 'demo'
			,form: form //layui form对象 （必填）
			,data: '/role/ajaxRoleMenu?roleId='+roleId //数据，结构请参照下面 （必填）
			,isopen:true //初次加载时全部展开，默认true （选填）
			,color: "#000" //图标颜色 （选填）
			,icon: { //图标样式 （选填）
				open: "&#xe7a0;" //节点打开的图标
				,close: "&#xe622;" //节点关闭的图标
				,end: "&#xe621;" //末尾节点的图标
			}, click: function (data) {  //节点选中状态改变事件监听，全选框有自己的监听事件
		           console.log(data.elem); //得到checkbox原始DOM对象
		           console.log(data.elem.checked); //开关是否开启，true或者false
		           console.log(data.value); //开关value值，也可以通过data.elem.value得到
		           console.log(data.othis); //得到美化后的DOM对象
		    }
		});		
	});
	
   var app = new Vue({ el : '#app', data : { } });
</script>


</body>
</html>